// Colors
$off-orange: #e27b5d;
$off-blue: #47a79f;
$dark-blue: #3a5f6b;
$off-yellow: #ffe28e;
$yellow-orange: #ffb87a;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
